@model IEnumerable<SiteFileStorage.Models.FileViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@foreach (var category in ViewBag.Categories)
{
    if (@Model.Where(m => m.Categories != null && m.Categories.Contains(category.Name) == true) != null)
    {
        <h3>@category.Name</h3>

        @Html.Partial("_ShowListEntry", @Model.Where(m => m.Categories.Contains(category.Name) == true).OrderBy(s=>s.Score).Take(3))
    }

}