@{
    ViewBag.Title = "NotFound";
    Layout = null;
}
<link href="~/Content/ErrorPage.css" rel="stylesheet" />
<center>
    <div class="container">

    </div>
    <h2>The page you are looking for cannot be found!</h2>
</center>